<div class="show-mobile">
  <div>
    <button>
      <img src="../../../assets/svg/" alt="menu">
    </button>
    <a href="">
      <img src="" alt="logo">
    </a>
    <a href="">
      <img src="" alt="cart">
    </a>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <li><a href="" class="">All</a></li>
      <li><a href="" class="">Clothes</a></li>
      <li><a href="" class="">Electronics</a></li>
    </nav>
    <div class="info">
      <div class="account">
        correo
      </div>
      <div>
        <a href="">
          <img src="" alt="cart"> 
        </a>
      </div>
    </div>
  </div>
</div>
